<ion-header>
  <ion-toolbar collapse="condense">
    <ion-title>
      Electify
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <div *ngIf="!spotifyToken; else results">
      <div id="container-info">
        <strong>¿Quién ganaría unas elecciones entre tus 10 artistas más escuchados?</strong>
      <p id="basic-info">Conoce cómo quedaría el Congreso en base a la popularidad de tus artistas favoritos. El número de escaños se calcula aplicando la Ley D'Hont.</p>
      <ion-button (click)="requestAccess()" color="medium" shape="round">Iniciar sesión con Spotify</ion-button>
      </div>
    </div>
  </div>
  <ng-template #results>
    <canvas #congresoCanvas></canvas>
    <div *ngIf="artists.length > 0">
      <ion-row>
      <ion-col size="12" *ngFor="let artist of artists">
        <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" [src]="artist.image" />
        </ion-thumbnail>
        <ion-card class="artist-card">
          <ion-card-subtitle>{{artist.name}}</ion-card-subtitle>
          Votos: {{artist.votesInString}}<br/>
          Escaños: {{artist.seats}}<br/>
        </ion-card>
      </ion-item>
      </ion-col>
      </ion-row>
    </div>
  </ng-template>
</ion-content>
